*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html, body {
    height:100%;
     margin:0px;
     scroll-behavior: smooth;
     width: 100%;
     
     
  }

  #loader{
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(images/preloader.gif);
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    z-index:2;
    background-position: center;
  }

  .gotopbtn{
    position: fixed;
    width: 50px;
    height: 50px;
    background: #000000;
    bottom: 40px; 
    right: 50px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 100px;

    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: rgb(255, 255, 255);
    font-size: 22px;
    z-index: 1;
  }

.gotopbtn:hover{
  background: #ffffff;
  color: rgb(0, 0, 0);
} 

 
#first_parallax{
    background-image: url("images/wallpaper.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    
   
}

.icon-bar {
	width: 22px; 
	height: 2px;
	background-color: #B6B6B6;
	display: block;
	transition: all 0.2s;
	margin-top: 4px
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
 
.navbar-toggler .middle-bar {
  opacity: 0;
}
 
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
 
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
 
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
 
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
 
 
.navbar-toggler {
  border: none;
  background: transparent;
}



.menu_link{
  font-weight: bold;
  
}


.centered_divs{
    display: block;
    margin-bottom: auto;
    margin-top: 18%;
}



.avatar img{
    height: 180px;
    width: 180px;
    object-fit: cover;
}
.avatar{
    border: rgb(223,223,223) solid 4px;
    overflow: hidden;
    border-radius: 88px;
    width: 180px;
}

.f_third_container{
    color: rgb(255, 255, 255);
}

#typer_text{
    font-family: 'Patrick Hand', cursive;
       color: rgb(199, 194, 194);
}



  .arrow{
      position: absolute;
      top: 90%;
      left: 50%;
      transform: translate(-50%,-50%);
      
  }
  .arrow span{
      display: block;
      width: 18px;
      height: 18px;
      border-bottom: 1px solid #f3f3f3;
      border-right: 1px solid #ffffff;
      transform: rotate(45deg);
      margin: -10px;
      animation: animate 2s infinite;
  }
  .arrow span:nth-child(2){
      animation-delay: -0.2s;
  }
  .arrow span:nth-child(3){
      animation-delay: -0.4s;
  }


  
  @keyframes animate {
      0%{
          opacity: 0;
          transform: rotate(45deg) translate(-20px,-20px);
      }
      50%{
          opacity: 1;
      }
      100%{
          opacity: 0;
          transform: rotate(45deg) translate(20px,20px);
      }
  }

  .progress {
    background: rgb(255, 255, 255);
    box-shadow: 0 0 5px rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    height: 5px;
    
  }
  
  .progress-html5 {
    animation: load 5s normal forwards;
   
    border-radius: 10px;
    background: rgb(0, 0, 0);
    height: 3px;
    
   
  }
  @keyframes load {
    0% { width: 0; }
    100% { width: 90%; }
  }

  .progress-css3 {
    animation: css 5s normal forwards;
   
    border-radius: 10px;
    background: rgb(0, 0, 0);
    height: 3px;
    
   
  }
  
  @keyframes css {
    0% { width: 0; }
    100% { width: 88%; }
  }

  .progress-javascript {
    animation: css 5s normal forwards;
   
    border-radius: 10px;
    background: rgb(0, 0, 0);
    height: 3px;
    
   
  }
  
  @keyframes javascript {
    0% { width: 0; }
    100% { width: 70%; }
  }

  .progress-bootstrap {
    animation: css 5s normal forwards;
   
    border-radius: 10px;
    background: rgb(0, 0, 0);
    height: 3px;
    
   
  }
  
  @keyframes bootstrap {
    0% { width: 0; }
    100% { width: 88%; }
  }

  .progress-Photoshop {
    animation: photo 5s normal forwards;
   
    border-radius: 10px;
    background: rgb(0, 0, 0);
    height: 3px;
    
   
  }
  
  @keyframes photo {
    0% { width: 0; }
    100% { width: 94%; }
  }
  
  .third_container{
      color: rgb(0, 0, 0);
      background-color:  rgb(250,250,250);
      width: 100%;
  }

  .fprowess{
      border-right: 1px solid rgb(0, 0, 0);
  }

  .sprowess{
    border-right: 1px solid rgb(0, 0, 0);
}

@media screen and (max-width:450px){
  .fprowess, .sprowess{
    border-right: 0px;
    border-bottom:1px solid rgb(0, 0, 0);
  }

  .professional_margin {
    margin-top: 48px ;
  }
  
}


 
.eduheading {
  color: #000000;
  

}


.interest_section{
  background-color:  rgb(250,250,250);
}

.travel{
 
font-family: 'Kaushan Script', cursive;
  
  
}

.zoom {
  
  
  transition: transform .2s;
  
}

.zoom:hover {

  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.25); 
}






.contact_icon{
  font-size: 48px; 
  color : rgb(0, 0, 0);
 
}

.phone:hover{
  color: #15a84d;
}

.email:hover{
color: #c7610f;
}

.skype:hover{
  color: #00aff0;
}



#comment{
  resize: none;
}

.fifth_container{
  background-color:  rgb(250,250,250);
  color: rgb(0, 0, 0);

}


.footer {
  background-color: rgb(0, 0, 0);
}

